.resources {
    display: flex;
    padding: 0rem 0 2rem 0;
}

.timeline {
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
}

.row {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 1rem;
    align-self: center;
    align-items: center;
    max-width: 100%;
    min-height: 160px;
}

.dotted-line {
    width: 100%;
    height: 1px;
    background-image: linear-gradient(to right, #707070 0%, #707070 50%, transparent 50%);
    background-size: 20px;
    background-repeat: repeat-x;
}


.overview-grid {
    max-width: 80%;
    margin: 0;
    min-height: 10rem;
    width: 100%;
    justify-self: center;
}

.ghostbutton-p {
    margin: 0;
}


.modal-content {
    margin: unset;
    width: unset;
    max-width: 60rem;
}

.modal-body{
    background-color: unset;
}

.learned-cont{
    display: flex;
    align-items: center;
    gap: .25rem;
}

.learned-cont h3{
    margin: unset;
}

.learned-cont img{
    max-width: 5%;
    width: 100%;
    height: auto;
}