/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

	html {
		scroll-behavior: smooth;
	}

	.h-600 {
		height: 600px;
	}

	.h-300 {
		height: 300px;
	}

	.h-100 {
		height: 100px;
	}

}

/*General*/
.contMenu li ul li a {
	display: block;
	padding: 1rem 1rem 1rem 1rem;

}

.contMenu li ul li a:hover {
	background-color: #fff;
	color: #000;
}

.contMenu>li:hover {
	background-color: #000;
}

.contMenu li ul {
	display: none;
}

.contMenu>li:hover ul {
	display: block;
}

.min-pl{
	padding-left: 10rem;
}

/* Home page */

.line {
    position: relative;
    padding: 0;
    width: 100%;
    list-style: none;
}

.line::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 40px;
    width: 2px;
    content: '';
    background-color: #000;
}

.li-items>li {
    position: relative;
    min-height: 50px;
    margin-bottom: 50px;
}

.li-items>li.toggleSwitch{
	display: flex;
}

.li-items>li:after,
.li-items>li:before {
    display: table;
    content: ' ';
}

.li-items>li:after {
    clear: both;
}

.li-items>li .line-image {
    position: absolute;
    z-index: 0;
    left: 0;
    width: 80px;
    height: 80px;
    margin-left: 0;
    text-align: center;
    color: #fff;
    border-radius: 100%;
}

.line-wrapper{
    padding: 40px 40px 70px;
    border-radius: 0.3em;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    border: 3px solid #4758FB;
}




.rounded-circle {
    border-radius: 50% !important;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.li-items>li .line-panel {
    position: relative;
    float: right;
    width: 100%;
    padding: 0 20px 0 100px;
    text-align: left;
}

@media (min-width: 768px) {
    .line::before {
        left: 50%;
    }
}

@media (min-width: 768px) {
    .li-items>li {
        min-height: 100px;
        margin-bottom: 100px;
    }
}

@media (min-width: 768px) {
    .li-items>li .line-image {
        left: 50%;
        width: 100px;
        height: 100px;
        margin-left: -50px;
    }
}

.li-items>li.line-inverted>.line-panel {
    float: right;
    text-align: left;
}

@media (min-width: 768px) {
    .li-items>li .line-panel {
        float: left;
        width: 41%;
        padding: 0 30px 20px 30px;
        text-align: right;
    }
    .line .btnModalClose{
        float: right;
}
    .line-inverted .btnModalClose{
        float: left;
}
}

@media (min-width: 992px) {
    .li-items>li .line-panel {
        padding: 0 20px 20px;
    }
}
@media (max-width: 992px) {
    .widget-controller{
        display: none;
    }
}


@media only screen and (max-width: 600px) {
    .modal-labels {
        flex-direction: column;
    }
    .label-modal {
        margin-right: unset;
        max-width: 100%;   
    }

    .modal-title h1{line-height: 1.2em;}

    .col-lg-8{max-width: 75%;}
    .slide-paragraph {margin: 0 20px 0px 20px;}
}

/* Research page */
#chevronVisitors.visitors,
#chevronResearchers.researchers {
	transform: rotate(270deg);
}

#visitor-items.visitor-grid, #research-items.research-grid {
	display: grid;
}

#research-visitors.v-gridFullWidth, #research-researchers.r-gridFullWidth{
	width: 100%;
}

#p-visitors.p-hiddenV, #p-researchers.p-hiddenR{
	display: none;
}

.seeMoreTimeline.seeMoreFlex{
	display: none;
}

@keyframes heroAnimation {
	0% {
		margin-top: -12rem;
	}

	5% {
		margin-top: -8rem;
	}

	33% {
		margin-top: -8rem;
	}

	38% {
		margin-top: -4rem;
	}

	66% {
		margin-top: -4rem;
	}

	71% {
		margin-top: 0;
	}

	100% {
		margin-top: 0px;
	}
}

@media (max-width: 768px) {
	navMobile {
		display: none;
	}

	navMobile.hamburger {
		display: flex;
	}
}

@media (min-width: 768px) {
	navMobile {
		display: none;
	}

	#toggle-bar {
		display: none;
	}
}